.isl_row {
	display: block;
	margin-bottom: 10px;
}
.isl_row > .cell {
	display: inline-block;
}
.isl_row .small-12 {
	width: calc(100% - 20px);
}
.isl_row .small-11 {
	width: calc(91.6666% - 20px);
}
.isl_row .small-10 {
	width: calc(83.3333% - 20px);
}
.isl_row .small-9 {
	width: calc(75% - 20px);
}
.isl_row .small-8 {
	width: calc(66.6666% - 20px);
}
.isl_row .small-7 {
	width: calc(58.3333% - 20px);
}
.isl_row .small-6 {
	width: calc(50% - 20px);
}
.isl_row .small-5 {
	width: calc(41.6666% - 20px);
}
.isl_row .small-4 {
	width: calc(33.3333% - 20px);
}
.isl_row .small-3 {
	width: calc(25% - 20px);
}
.isl_row .small-2 {
	width: calc(16.6666% - 20px);
}
.isl_row .small-1 {
	width: calc(8.3333% - 20px);
}

.isl_row label {
	min-width: 100px;
	display: block;
}
.isl_row input {
	width: 95%;
}


@media only screen and (min-width: 640px) {
	.isl_row .medium-12, .isl_row .large-12 {
		width: calc(100% - 30px);
	}
	.isl_row .medium-11, .isl_row .large-11 {
		width: calc(91.6666% - 30px);
	}
	.isl_row .medium-10, .isl_row .large-10 {
		width: calc(83.3333% - 30px);
	}
	.isl_row .medium-9, .isl_row .large-9 {
		width: calc(75% - 30px);
	}
	.isl_row .medium-8, .isl_row .large-8 {
		width: calc(66.6666% - 30px);
	}
	.isl_row .medium-7, .isl_row .large-7 {
		width: calc(58.3333% - 30px);
	}
	.isl_row .medium-6, .isl_row .large-6 {
		width: calc(50% - 30px);
	}
	.isl_row .medium-5, .isl_row .large-5 {
		width: calc(41.6666% - 30px);
	}
	.isl_row .medium-4, .isl_row .large-4 {
		width: calc(33.3333% - 30px);
	}
	.isl_row .medium-3, .isl_row .large-3 {
		width: calc(25% - 30px);
	}
	.isl_row .medium-2, .isl_row .large-2 {
		width: calc(16.6666% - 30px);
	}
	.isl_row .medium-1, .isl_row .large-1 {
		width: calc(8.3333% - 30px);
	}
}

.isl_row .text-center {
	text-align: center;
}
.isl_row .bold {
	font-weight: bold;
}


.isl_row > .row > .cell.full {
	width: 100%;
}



.isl_settings h2 {
	color: #34495E;
	border-top: 1px solid #34495E;
	margin-top: 15px;
	padding-top: 15px;
}



.isl-settings .wrap {
	margin-bottom: 30px;
	display: block;
}

table.isl-importer {
	max-width: 640px;
}
table.isl-importer td {
	width: 20%;

}



.submit_wrap {
	width: 100%;
	position: relative;
}
.submit_wrap .button-primary {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
#loading_anim {
	display: none;
	position: relative;
	margin: 0 0 0 15px;
	width: 200px;
	height: 50px;
	float: left;
}
.centered{
	width: 200px;
	height: 50px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.blob-1,.blob-2{
	width:50px;
	height:50px;
	position:absolute;
	background: rgb(255, 195, 0);
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:rgba(2, 84, 165, 0.7);
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}